<!DOCTYPE html>

<html>

<head>

    <title>
        Driver Training System
    </title>

    <link
        rel="stylesheet"
        href="/static/style.css">

</head>

<body>

<nav>

    <a href="/">Home</a>

    <a href="/drivers">Drivers</a>

    <a href="/runs">Runs</a>

    <a href="/add_driver">Add Driver</a>

    <a href="/add_run">Add Run</a>

    <a href="/remove_run">Remove Run</a>

    <a href="/search">Search Drivers</a>

    <a href="/cones">Cone Statistics</a>

    <a href="/results">Overall Results</a>

</nav>

<hr>

{% block content %}
{% endblock %}

</body>

</html>